* {
  padding: 0;
  margin: 0;
  font: 13px Helvetica, Arial;
}

#container {
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
  width:700px;
}

/* info box */
#debug {
  width:698px;
  padding: 10px;
  border: 1px solid black;
}
.error {
  border-color:red;
}
.success {
  border-color:green;
}

#display {
  text-align:center;
}

/* the canvas */
canvas {
  border:10px solid black;
}
